* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #ffffff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}



.logo {
    position: absolute;
    top: 0;
    left: 17.6%;
    display: inline-block;
    padding: 10px;
    width: 12rem;
    z-index: 2;
}

.logo img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    /* Adjust the height as needed */
}

nav {
    text-align: center;
    background: #ffffff;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px 0px inset;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav li {
    display: inline;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding-left: 4.5rem;
    font-size: 3rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5rem;
}

nav li img {
    width: 18rem;
    height: 10rem;
    float: inline-start;
}


a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #df0000;
    text-decoration-line: underline;
    text-decoration-thickness: 0.15rem;
}


.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.slogan--content {
    height: 45rem;
    width: 120rem;
    position: relative;
    border-radius: 0.5rem;


}

.slogan--text {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    color: #FFFFFF;
    padding: 0.3rem;
    top: 25%;
    left: 5%;
    transform: translate(-3%, -3%);
    font-size: 6rem;

}



.sloganButton {
    position: absolute;
    bottom: 30%;
    left: 3%;
    color: black;
    background: rgba(255, 255, 255);
    font-size: 200%;
    border-radius: 0.3rem;
    padding: 1.5rem;
    border: none;
    outline: none;
    transition: 0.3s transform;
}

.sloganButton:hover {
    cursor: pointer;
    color: white;
    background: black;
    transform: scale(1.1);
}


.slogan--image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.5rem;

}


.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.product {
    display: flex;
    width: 21.6rem;
    height: 30rem;
    background: rgba(255, 255, 255);
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    border: 0.01rem solid rgba(222, 222, 222);

}

.product--content {
    position: relative;
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.product--image {
    height: 100%;
    width: 80%;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;

}

.product--text{
    position: absolute;
    bottom: -15%;
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}


.featured-product {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.featured-product-content {
    display: flex;
    background: white;
    width: 120rem;
    height: 35rem;
    border: 0.01rem solid rgba(222, 222, 222);
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
}

.featured-product-title {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.featured-product-text {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.featured-product-price {
    padding-top: 2rem;
    font-size: 2.5rem;
}

.featured-product-image {
    width: 100%;
    height: 100%;
}

.featured-product-image-image {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    margin: 0 auto;
}

.arrow {
    width: 10%;
    height: 100%;
    color: gray;
    background: white;
    font-size: 500%;
    outline: none;
    border: none;

}

.arrow:hover {
    color: #444;
    cursor: pointer;

}

.avatar {
    border: 0.2rem solid rgba(68, 68, 68, 0.2);
    position: absolute;
    bottom: 3%;
    left: 2rem;
    height: 6rem;
    width: 6rem;
    border-radius: 4rem;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.review {
    display: flex;
    width: 38.7rem;
    min-height: 30rem;
    list-style: none;
    padding: 2rem;
    flex-direction: column;
    background: rgba(255, 255, 255);
    border-radius: 1rem;
    border: 0.01rem solid rgba(222, 222, 222);
    position: relative;


}

.review:nth-of-type(4),
.review:nth-of-type(5),
.review:nth-of-type(6),
.review:nth-of-type(7),
.review:nth-of-type(8),
.review:nth-of-type(9) {
    display: none;
}

.icons {
    font-size: 200%;
    color: gold;
}


.review p {
    font-size: 1.6rem;
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 4rem;

}


/* Productpagina1 */

.items {}

.categoryBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;

}

.categoryBox {
    display: flex;
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}




/* Productpagina2 */







/*shoppingcart */

.cart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.cart-content {
    display: flex;
    border: 0.01rem solid rgba(222, 222, 222);
    background: white;
    border-radius: 0.5rem;
    width: 120rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.cart-item {
    font-size: 2rem;
    width: 120rem;
    height: 20rem;

}






/*Footer */

.footer {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerBlocks {
    display: flex;
    height: 40rem;
    width: 120rem;
    padding: 8rem;
    border-top: 0.1rem solid #DDDDDD;
    border-bottom: 0.1rem solid #DDDDDD;
    justify-content: center;
    align-items: center;
    gap: 20rem;

}

.footerBlock {
    font-weight: 400;

}


.footerLink {
    font-size: 1.5rem;
    list-style: none;
    padding: 1rem;
}

.footerLink h2 {
    font-size: 2.5rem;
}


@media screen and (max-width: 50rem) {
    .arrow {
        display: none;
    }

    .reviews {
        width: 100%;
    }
}