*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #ffffff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

header{
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px 0px inset;
}

a{
    color: black;
}
a:link{
    text-decoration: none;
}

a:hover {
    color: #df0000;
    border-bottom: 0.5px solid;
}

a:active{
    color: black;
}

.image-box{
    height: 6.9rem;
    width: 9.6rem;
}

.image-logo{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.menu-textbox{
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}


.menu-title{
    display: inline-block;
    font-size: 4rem;
}


.menu-text{
    display: inline-block;
    padding: 3rem;
    font-size: 4rem;
    color: black;
}

.ul li a{
    text-decoration: none;
    transition: 0.4s;
}

.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.slogan--content{
    height: 45rem;
    width: 120rem;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
}

.slogan--text{
    position: absolute;
    color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    

}

.slogan--image{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.5rem;
    
}


.products{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.product{
    display: flex;
    width: 21.6rem;
    height: 30rem;
    background: rgba(255, 255, 255);
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    border: 0.01rem solid rgba(222, 222, 222);

}

.product--content{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.product--image{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
}


.featured-product{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.featured-product-content{
    display: flex;
    background: white;
    width: 120rem;
    height: 50rem;
    border: 0.01rem solid rgba(222, 222, 222);
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
}

.featured-product-title{
    font-size: 2.4rem;
}

.featured-product-text{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.featured-product-image{
    width: 100%;
    height: 100%;
}

.featured-product-image-image{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
}


.arrow{
    width: 10%;
    height: 100%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;

}

.arrow:hover{
    color: red;
    cursor: pointer;

}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.review{
    display: flex;
    width: 38.7rem;
    min-height: 30rem;
    list-style: none;
    padding:2rem;
    flex-direction: column;
    background: rgba(255, 255, 255);
    border-radius: 1rem;
    border: 0.01rem solid rgba(222, 222, 222);
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;


}

.icons{
    font-size: 200%;
    color: gold;
}


.review p{
    font-size: 1.6rem;
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 4rem;

}




@keyframes fadeIn {
    from{
        opacity: 0;
        filter: blur(10px);

    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}

/* Productpagina1 */

.categoryBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;

}

.categoryBox{
    display: flex;
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}




/* Productpagina2 */





/*Footer */

.footer{
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerBlocks{
    display: flex;
    height: 40rem;
    width: 120rem;
    padding: 8rem;
    border-top: 0.1rem solid #DDDDDD;
    border-bottom: 0.1rem solid #DDDDDD;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.footerBlock{
    font-weight: 400;

}


.footerLink{
    font-size: 1.5rem;
    list-style: none;
    padding: 1rem;
}